
      
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">            
          
          <h1>DÍA DE LA MADRE</h1>
             <h4>Estilo único. En la cancha, en el gimnasio o en casa</h4>
        </div>
    </div> 

<!-- FIN NAVBAR -->
<!-- INICIO SERVICIOS -->
<!-- Banner -->
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_1.jpg);">
							<div class="banner_categoria">
								<a href="#">Mujer</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_2.jpg);">
							<div class="banner_categoria">
								<a href="#">Accesorios</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_3.jpg);">
							<div class="banner_categoria">
								<a href="#">Hombre</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- FIN DE SERVICIOS -->



 <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
          <div class="container">
            <div class="text-center">
              <h2 class="section-heading text-uppercase mt-5">Novedades</h2>
              <h3 class="section-subheading text-muted">Lo ultimo en tendencia</h3>
            </div>
            <div class="row">
              {{#each novedades}}
              <div class="col-lg-4 col-sm-6 mb-4">
                <!-- GRID item -->
                <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#staticBackdrop{{ id }}">
                    <div class="portfolio-hover ">
                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="/images/1.png" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">{{titulo}}</div>
                    <div class="portfolio-caption-subheading text-muted mt-2">{{subtitulo}}</div>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </section>
        
        {{#each novedades}}
        <!-- Modal -->
        <div class="modal fade portfolio-modal" id="staticBackdrop{{ id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h1>{{id}}</h1>
                <h2>{{ subtitulo }}</h2>
                <p>{{ cuerpo }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        </div>



     




